body {
	background-color: #d3dbfb;
}
p {
	text-align: justify;
}

a.open{
	background-color: #414141;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	margin: 20px;
	padding: 10px 20px;
	position: absolute;
	text-decoration: none;
	text-shadow: 2px 2px 0px #000;
}

section.modalDialog{
	background-color: #00000080;
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	position: fixed;
	display: none;
	z-index: 2;
}

section.modalDialog:target{
	display: block;
}
a.close{
	background-color: #1883ba;
	border-radius: 6px;
	border: 2px solid #0016b0;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	position: absolute;
	right: 5px;
	top:5px;
	text-align: center;
	text-decoration: none;
	width: 28px;
}

.close:hover {
	color: black;

}

/* **************************modal 1 ***************************** */
section.modal{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}

.modal h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal p{
	color: black;
	font-size: 1.2em;

}

.modal  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 175px;
	height: 195px;
	display: block;
	margin: auto;
}
.son{
	width: 100%;
	height: 0px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 245px ;
}
.son img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}

/* **************************modal 2 ***************************** */


section.modal2{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal2.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal2 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal2 p{
	color: black;
	font-size: 1.2em;
}

.modal2  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 368px;
	height: 450px;
	display: block;
	margin: auto;
}
.son2{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 220px ;
}
.son2 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}

/* **************************modal 3 ***************************** */


section.modal3{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal3.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal3 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal3 p{
	color: #000000;
	font-size: 1.2em;
}

.modal3  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 545px;
	height: 324px;
	display: block;
	margin: auto;
}
.son3{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son3 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 4 ***************************** */


section.modal4{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 270px;
}

.modal4 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal4 p{
	color: black;
	font-size: 1.2em;
}

.modal4  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son4{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 210px ;
}
.son4 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 5 ***************************** */


section.modal5{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal5.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal5 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal5 p{
	color: black;
	font-size: 1.2em;
}

.modal5  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 238px;
	height: 325px;
	display: block;
	margin: auto;
}
.son5{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 230px ;
}
.son5 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 6 ***************************** */


section.modal6{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal6.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal6 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal6 p{
	color:black;
	font-size: 1.2em;
}

.modal6  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 432px;
	height: 457px;
	display: block;
	margin: auto;
}
.son6{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 260px ;
}
.son6 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 7 ***************************** */


section.modal7{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal7.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal7 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal7 p{
	color: black;
	font-size: 1.2em;
}

.modal7  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 572px;
	height: 344px;
	display: block;
	margin: auto;
}
.son7{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son7 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 8 ***************************** */


section.modal8{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 210px;
}

.modal8 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal8 p{
	color: black;
	font-size: 1.2em;
}

.modal8  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son8{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 170px ;
}
.son8 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}

/* **************************modal 9 ***************************** */


section.modal9{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal9.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal9 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal9 p{
	color: black;
	font-size: 1.2em;
}

.modal9  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 277px;
	height: 310px;
	display: block;
	margin: auto;
}
.son9{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son9 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 10 ***************************** */


section.modal10{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal10.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal10 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal10 p{
	color: #000000;
	font-size: 1.2em;
}

.modal10  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 359px;
	height: 430px;
	display: block;
	margin: auto;
}
.son10{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 230px ;
}
.son10 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 11 ***************************** */


section.modal11{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}

.modal11 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal11 p{
	color: #000000;
	font-size: 1.2em;
}

.modal11  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 651px;
	height: 291px;
	display: block;
	margin: auto;
}
.son11{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 180px ;
}
.son11 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 12 ***************************** */


section.modal12{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 250px;
}
.modal12 .hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal12 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal12 p{
	color: #000000;
	font-size: 1.2em;
}

.modal12 img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son12{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son12 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 13 ***************************** */


section.modal13{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal13.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal13 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal13 p{
	color: black;
	font-size: 1.2em;
}

.modal13  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 322px;
	height: 301px;
	display: block;
	margin: auto;
}
.son13{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 210px ;
}
.son13 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 14 ***************************** */


section.modal14{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal14.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal14 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal14 p{
	color: black;
	font-size: 1.2em;
}

.modal14  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 496px;
	height: 301px;
	display: block;
	margin: auto;
}
.son14{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son14 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 15 ***************************** */


section.modal15{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal15.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal15 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal15 p{
	color: #000000;
	font-size: 1.2em;
}

.modal15  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 797px;
	height: 456px;
	display: block;
	margin: auto;
}
.son15{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son15 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 16 ***************************** */


section.modal16{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 600px;
	height: 150px;
}

.modal6 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal16 p{
	color: #000000;
	font-size: 1.2em;
}

.modal16  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son16{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 150px ;
}
.son16 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 17 ***************************** */


section.modal17{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}

.modal17 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal17 p{
	color: #000000;
	font-size: 1.2em;
}

.modal17  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 319px;
	height: 219px;
	display: block;
	margin: auto;
}
.son17{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 230px ;
}
.son17 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 18 ***************************** */


section.modal18{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal18.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal18 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal18 p{
	color: #000000;
	font-size: 1.2em;
}

.modal18  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 364px;
	height: 483px;
	display: block;
	margin: auto;
}
.son18{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son18 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 19 ***************************** */


section.modal19{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}

.modal19 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal19 p{
	color: black;
	font-size: 1.2em;
}

.modal19  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 810px;
	height: 233px;
	display: block;
	margin: auto;
}
.son19{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son19 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 20 ***************************** */


section.modal20{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 500px;
	height: 150px;
}

.modal20 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal20 p{
	color: #000000;	font-size: 1.2em;
}

.modal20  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son20{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 150px ;
}
.son20 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 21 ***************************** */


section.modal21{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}

.modal21 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal21 p{
	color: black;
	font-size: 1.2em;
}

.modal21  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 305px;
	height: 240px;
	display: block;
	margin: auto;
}
.son21{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 210px ;
}
.son21 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 22 ***************************** */


section.modal22{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 900px;
	height: 450px;
}
.modal22.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal22 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal22 p{
	color: black;
	font-size: 1.2em;
}

.modal22  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 443px;
	height: 441px;
	display: block;
	margin: auto;
}
.son22{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 280px ;
}
.son22 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 23 ***************************** */


section.modal23{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 1014px;
	height: 500px;
	top: -60px;
}

.modal23 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal23 p{
	color: #000000;
	font-size: 1.2em;
}

.modal23  img {
	position: relative;
	top: 80px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 882px;
	height: 254px;
	display: block;
	margin: auto;

}
.son23{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 235px ;
}
.son23 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
	top: 90px;
}
/* **************************modal 24 ***************************** */


section.modal24{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 700px;
	height: 180px;
}

.modal24 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal24 p{
	color: #000000;
	font-size: 1.2em;
}

.modal24  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son24{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 150px ;
}
.son24 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 25 ***************************** */


section.modal25{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 600px;
	top: -60px;
}
.modal25.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal25 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal25 p{
	color: #000000;
	font-size: 1.2em;
}

.modal25  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 346px;
	height: 265px;
	display: block;
	margin: auto;
}
.son25{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 230px ;
}
.son25 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 26 ***************************** */


section.modal26{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 600px;

}
.modal26.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal26 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal26 p{
	color: #000000;
	font-size: 1.2em;
}

.modal26  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 360px;
	height: 375px;
	display: block;
	margin: auto;
}
.son26{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son26 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 27 ***************************** */


section.modal27{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;

}

.modal27 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal27 p{
	color: #000000;
	font-size: 1.2em;
}

.modal27  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 560px;
	height: 170px;
	display: block;
	margin: auto;
}
.son27{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 230px ;
}
.son27 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 28 ***************************** */


section.modal28{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 614px;
	height: 170px;
}

.modal28 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal28 p{
	color: black;
	font-size: 1.2em;
}

.modal28  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son28{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 150px ;
}
.son28 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 29 ***************************** */


section.modal29{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 450px;
	top: -90px;

}
.modal29 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal29 p{
	color: black;
	font-size: 1.2em;
}

.modal29  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 301px;
	height: 244px;
	display: block;
	margin: auto;
}
.son29{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 210px ;
}
.son29 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 30 ***************************** */


section.modal30{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal30.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal30 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal30 p{
	color: #000000;
	font-size: 1.2em;
}

.modal30  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 373px;
	height: 473px;
	display: block;
	margin: auto;
}
.son30{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son30 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 31 ***************************** */


section.modal31{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal31.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal31 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal31 p{
	color: #000000;
	font-size: 1.2em;
}

.modal31  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 762px;
	height: 279px;
	display: block;
	margin: auto;
}
.son31{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 230px ;
}
.son31 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 32 ***************************** */


section.modal32{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 614px;
	height: 200px;
}

.modal32 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal32 p{
	color: #000000;
	font-size: 1.2em;
}

.modal32  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son32{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 170px ;
}
.son32 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 33 ***************************** */


section.modal33{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal33.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal33 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal33 p{
	color: #000000;
	font-size: 1.2em;
}

.modal33  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 248px;
	height: 288px;
	display: block;
	margin: auto;
}
.son33{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son33 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 34 ***************************** */


section.modal34{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal34.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal34 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal34 p{
	color: black;
	font-size: 1.2em;
}

.modal34  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 469px;
	height: 429px;
	display: block;
	margin: auto;
}
.son34{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son34 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 35 ***************************** */


section.modal35{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 480px;
	top: -90px;
}

.modal35 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal35 p{
	color: #000000;
	font-size: 1.2em;
}

.modal35  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 632px;
	height: 274px;
	display: block;
	margin: auto;
}
.son35{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son35 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 36 ***************************** */


section.modal36{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 614px;
	height: 170px;
}

.modal36 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal36 p{
	color: black;
	font-size: 1.2em;
}

.modal36  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son36{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 150px ;
}
.son36 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 37 ***************************** */


section.modal37{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal37.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal37 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal37 p{
	color: #000000;
	font-size: 1.2em;
}

.modal37  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 221px;
	height: 271px;
	display: block;
	margin: auto;
}
.son37{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son37 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 38 ***************************** */

section.modal38{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 400px;
}
.modal38.hola {
	max-height: calc(100vh - 210px);
	overflow-y: auto;

}
.modal38 h2{
	color: #000000;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal38 p{
	color: #000000;
	font-size: 1.2em;
}

.modal38  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 404px;
	height: 421px;
	display: block;
	margin: auto;
}
.son38{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 250px ;
}
.son38 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 39 ***************************** */


section.modal39{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 450px;
	top: -90px;
}

.modal39 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal39 p{
	color: black;
	font-size: 1.2em;
}

.modal39  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 608px;
	height: 265px;
	display: block;
	margin: auto;
}
.son39{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 180px ;
}
.son39 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 40 ***************************** */


section.modal40{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 250px;
}

.modal40 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal40 p{
	color: black;
	font-size: 1.2em;
}

.modal40  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 1px;
	height: 1px;
	display: block;
	margin: auto;
}
.son40{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 240px ;
}
.son40 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}
/* **************************modal 41 ***************************** */


section.modal41{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: black;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 914px;
	height: 430px;
	top: -90px;

}
.moda41 h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}
.modal41 p{
	color: black;
	font-size: 1.2em;
}

.modal41  img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	width: 189px;
	height: 219px;
	display: block;
	margin: auto;
}
.son41{
	width: 100%;
	height: 50px;
	display: inline-block;
	background-size: cover;
	position: absolute;
	left: 18px;
	top: 230px ;
}
.son41 img {
	position: absolute;
	bottom:50px; /* ajustar los valores para mover la imagen */
	left: 50px;
	width: 35px;
	height: 35px;
	float: left;
	margin: auto;
}



/* **************************mapa conceptual**************************** */

.MapaConceptual img {
	position: relative;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;
	display: block;
	margin: auto;
}

/*caja numero 1*/
.caja1{
	width: 100%;
    height: 400px;
    display: inline-block;
    background-color: #3db2e1;
	background-size: cover;
	position: relative;
	left: 0px;
	top: 2px ;
}
.avatarHome {
	position: relative;
	width: 100%;
	top: 0px; /* ajustar los valores para mover la imagen */
	left: 0px;

	height: 400px;
	display: block;
	margin: auto;
}
.caja1 h1{
	font-family: "serif";
	text-align: center ;
	font-size: 120px;
}

.caja1 p{
	font-family: "Times New Roman";
	font-size: 10px;
}

/*caja numero 2*/
.caja2{
	width: 90%;
	height: 300px;
	display: inline-block;
	background-size: cover;
	position: relative;
	left: 60px;
	top: 2px ;
}

.caja2 h1{
	font-family: "serif";
	text-align: left ;
	font-size: 20px;
}
.caja2 h2 {
	font-family: "serif";
	text-align: center;
	font-size: 30px;
}
.caja2 p{
	font-family: "Times New Roman";
	font-size: 25px;
	text-align: justify;
}
.caja2 .p2{
	font-family: "Times New Roman";
	font-size: 25px;
	text-align: center;
}
/*caja numero 4*/
.caja4{
	width: 90%;
	height: 300px;
	display: inline-block;
	background-size: cover;
	position: relative;
	left: 60px;
	top: 2px ;
	font-family: "serif";

	font-size: 20px;
}

.caja4 h1{
	font-family: "serif";
	text-align: left ;
	font-size: 20px;
}
.caja4 h2 {
	font-family: "serif";
	text-align: center;
	font-size: 30px;
}
.caja4 p {
	font-family: "serif";
	text-align: center;
	font-size: 12px;
}




#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
	width: auto;
	font-family: sans-serif;
	line-height: 2;
}
#cssmenu > ul {
	background: #3db2e1;
}
#cssmenu > ul > li {
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}
#cssmenu.align-center > ul {
	font-size: 0;
	text-align: center;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-right > ul > li {
	float: right;
}
#cssmenu > ul > li > a {
	padding: 16px 20px;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	background: #3db2e1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
	color: #dff2fa;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
	color: #dff2fa;
	-webkit-transform: rotateX(90deg) translateY(-23px);
	-moz-transform: rotateX(90deg) translateY(-23px);
	transform: rotateX(90deg) translateY(-23px);
	-ms-transform: none;
}
#cssmenu > ul > li > a::before {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: -1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 16px 20px;
	color: #dff2fa;
	background: #19799f;
	content: attr(data-title);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-ms-transform: translateY(-18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
	background: #3db2e1;
}
#cssmenu.small-screen {
	width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
	width: 100%;
	text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
	float: none;
	display: block;
	border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
	color: #dff2fa;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	-ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
	display: none;
}
#cssmenu.small-screen #menu-button {
	display: block;
	padding: 16px 20px;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #3db2e1;
}
#cssmenu.small-screen #menu-button:after {
	content: "";
	position: absolute;
	right: 20px;
	top: 17px;
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	width: 22px;
	height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
	border-top: 2px solid #dff2fa;
	border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
	content: "";
	position: absolute;
	right: 20px;
	top: 27px;
	display: block;
	width: 22px;
	height: 2px;
	background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
	background: #dff2fa;
}


/*TABLAS*/
.tabla1{
	border-collapse: collapse;
	border: black 2px solid;
	position:absolute;
	margin:auto;
	background: white;
	width:80%;
	color: black;
	left: 140px;
}
.tabla1 h1{
	text-align: center;
}


.tabla1 tr {
	border: black 2px solid;
	background: #3db2e1;
}
.tabla1 td {
	border: black 2px solid;
	background: white;
}


.tabla1 thead tr th{
	padding:10px;
}

.tabla1 tbody tr td {
	padding: 10px;
}





/* seccion del Login */
.login-box {
	width: 320px;
	height: 520px;
	background: #000;
	color: #fff;
	top: 50px;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.login-box .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.login-box h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.login-box input {
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.login-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.login-box input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.login-box a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.login-box a:hover {
	color: #fff;
}



/* seccion de registrar */
.registro-box {
	width: 520px;
	height: 680px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.registro-box .avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.registro-box h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.registro-box label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.registro-box input {
	width: 100%;
	margin-bottom: 20px;
}

.registro-box input[type="text"], .login-box input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.registro-box input[type="email"], .login-box input[type="email"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.registro-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.registro-box input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.registro-box a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.registro-box a:hover {
	color: #fff;
}

/* seccion de editar */
.edi-box {
	width: 520px;
	height: 680px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.edi-box .avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.edi-box h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.edi-box label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.edi-box input {
	width: 100%;
	margin-bottom: 20px;
}

.edi-box input[type="text"], .login-box input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.edi-box input[type="email"], .login-box input[type="email"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.edi-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #b80f22;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.edi-box input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.edi-box a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.edi-box a:hover {
	color: #fff;
}




